moviepy
basicsr>=1.4.2
torch==1.10.0
torchvision==0.11.1
opencv-python
transformers
matplotlib
addict
future
lmdb
numpy>=1.17
Pillow
pyaml
requests
scikit-image
scipy
tb-nightly
tqdm
yapf
realesrgan
configargparse
